/* TO-DO: Should break out common colors/sizes/fonts/animations into global vars and separate files and leave comment about SCSS */
/* TO-DO: Polish modal styles, fix ::after and add hover-able buttons */
/* TO-DO: Fix up the transition fades for elements that don't work properly (modal, banner hero, banner logo) */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

* {
  pointer-events: none;
}

body {
  background-image: linear-gradient(45deg, #1a1d29, #020617);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Graphik','Helvetica','Arial',sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  margin: 0;
}

#banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#banner::after {
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
  content: " ";
  height: 100px;
  width: 100%;
  display: block;
  top: 50vh;
  left: 0;
  position: absolute;
}

#bannerContent {
  position: relative;
  height: 100%;
  width: 50%;
}

#bannerHero, #banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 1.5s;
}

#bannerContent::after {    
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  content: " ";
  height: 100px;
  width: 100%;
  display: block;
  top: calc(50vh - 100px);
  right: 0;
  position: absolute;
}

#bannerLogo {
  position: relative;
  margin-left: 10%;
  width: 30%;
  height: 20vh;
  margin-top: 10vh;
  object-fit: contain;
  object-position: top;
}

#bannerText {
  text-align: center;
  position: relative;
  width: 50%;
  margin: 0;
  top: 25vh;
  height: fit-content;
  transform: translateY(-50%);
}

img[alt]::after {
  display: none;
}

#root {
  position: relative;
  top: 35vh;
  left: 0;
  height: 65vh;
  overflow: hidden;
}

.hidden {
  display: none;
  opacity: 0;
}

.shelf {
  position: relative;
  padding: 25px 20px 0 20px;
  animation: fadeIn 1.5s;
  overflow: hidden;
}

.shelf:last-of-type {
  padding-bottom: 50vh;
}

.shelf h2 {
  margin-left: 1vw;
  margin-top: 0;
}

.shelfItems {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow-y: visible;
  overflow-x: scroll;
  padding-bottom: 30px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.shelfItems::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  transition: transform 0.2s;
  width: 15vw;
  min-width: 15vw;
  border-radius: 0.5vw;
  height: 100%;
  background: radial-gradient(#1c2133, black);
  transform-style: preserve-3d;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}

.card h3 {
  margin: 0;
  white-space: nowrap;
}

.cardPadding {
  padding: 1vw;
}

.card:focus {
  outline: none;
  transform: scale(1.08);
  border: 2px solid white;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

.card img {
  width: 100%;
  height: inherit;
  transform: translateZ(-10px);
}

.modalContent {
  position: fixed;
  opacity: 1;
  width: 550px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
  z-index: 1010;
  transition: all 2s;
  border-radius: 10px;
  overflow: hidden;
}

#modalHero img {
  width: 100%;
  height: auto;
}

#modalHero::before {
  content: " ";
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: purple;
  /* background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); */
}

.modalOverlay {
  z-index: 1000;
  background: black;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.textContent {
  padding: 20px;
}
